contractions
flask
flask-cors
gensim
joblib
langid
matplotlib
nltk
numpy
openai
pandas
scikit-learn
scikit-multilearn
seaborn
spacy
tensorflow
tf-keras
torch
torchaudio
torchvision 
transformers
wordcloud